#anchor-pane{
    -fx-background-color: #091921;
}
#circle{
   -fx-stroke: #091921;
    -fx-stroke-width: 1px;
}
#dot{
    -fx-fill: #fff;
}
#hr{

    -fx-stroke:  #ff105e;
    -fx-stroke-width: 4;
    -fx-stroke-line-cap: round;
}
#mn {

    -fx-stroke: #fff;
    -fx-stroke-width: 3;
    -fx-stroke-line-cap: round;
}
#sc{
    -fx-stroke: #fff;
    -fx-stroke-width: 2;
    -fx-stroke-line-cap: round;
}
#close-icon{
    -fx-fill: #c7c7c7;
    -glyph-size: 20px;
}
#close{
    -fx-cursor: hand;
}
#analogue{
    -fx-font-family: "Poppins Bold";
    -fx-font-size: 18px;
    -fx-text-fill: #c7c7c7;
}

#name{
    -fx-font-family: "Consolas Regular";
    -fx-font-size: 14px;
    -fx-text-fill: #c7c7c7;
}